.social-button{
    width:100%;
    margin-bottom:10px;
    text-align:left;
}

.social-button:hover{
    box-shadow: 0 0 40px 0 rgba(255,255,255,0.4);
    transition:0.1s
}

.social-button img{
    width:70px;
    padding-right:20px;
}